.field {
	clear: both;
	text-align: right;
}

label {
	float: left;
}

.main {
	float: left;
	height: 240px;
	width: 460px;
	/*border: 1px solid black;*/
	margin: auto;
}

.main2 {
	/*border: 1px solid black;*/
	height: 120px;
	margin-left: 0px;
	margin-top: 180px;
	width: 300px;
}

.primu {
	margin-left: 20px;
	width: 380px;
	height: 120px;
	border: 0px solid black; 
	margin-bottom: 10px;
}

.table {
	padding: 5px;
}

